
.hero{
    border: dashed 1px black;
    background: rgb(0,40,255);
    background: -moz-linear-gradient(90deg, rgba(0,40,255,1) 0%, rgba(255,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,40,255,1) 0%, rgba(255,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,40,255,1) 0%, rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0028ff",endColorstr="#ff0000",GradientType=1);}



    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      /* ######################### Default Style ############################## */
      html {
        font-size: 16px;
      }
      p,
      a,
      span,
      li {
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-weight: 400;
        margin-bottom: 0;
      }
      li {
        list-style: none;
      }
      ul,
      ol {
        padding: 0;
        margin: 0;
      }
      a,
      span {
        display: inline-block;
      }
      a {
        text-decoration: none;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
      .p-lg {
        font-size: 1.125rem;
        list-style: 1.75rem;
        font-weight: 400;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: rgb(209, 73, 73)
      }
      h1 {
        font-size: 10vw;
      }
      
      @font-face {
        font-family: "Good Times Rg";
        src: url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.eot");
        src: url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.eot?#iefix")
            format("embedded-opentype"),
          url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.woff2")
            format("woff2"),
          url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.woff")
            format("woff"),
          url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.ttf")
            format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      .text-pipe {
        position: relative;
        padding-left: 0.875rem;
      }
      .red-text {
        color: #ff5858 !important;
      }
      .blue-text {
        color: #00b2ff !important;
      }
      .text-pipe::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 0.25rem;
        background: #00b2ff;
        left: 0;
        top: 0;
      }
      body {
        font-family: "Good Times Rg";
      }
      header {
        position: fixed;
        top: 2rem;
        left: 0;
        width: 100%;
        z-index: 10000000;
      }
      .header-content {
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 2rem;
        position: relative;
        background: linear-gradient(
          157.68deg,
          rgba(255, 255, 255, 0.1) 16.65%,
          rgba(255, 255, 255, 0) 142.11%
        );
        border: 2px solid rgba(220, 220, 220, 0.11);
      }
      /* .header-content::before                         { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);background: linear-gradient(to right, #383838 , #141414); z-index: -1; height: calc(100% + 4px); width: calc(100% + 4px); border-radius: 2rem;} */
      .header-content > div {
        flex-grow: 1;
      }
      .menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        column-gap: 3rem;
        text-shadow: #3700ff 0.1rem 0.1rem 0.1rem;
      }
      .menu li a {
        color: rgb(86, 85, 87);
      }
      .search-bar {
        text-align: right;
      }
      .bottom-shape {
        position: absolute;
        width: 50%;
        height: 20%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transform-style: preserve-3d;
        perspective: 20px;
        background-color: transparent;
        border: 2px solid rgba(220, 220, 220, 0.11);
        border-bottom: none;
      }
      .banner {
        height: 100vh;
        background: black;
        position: relative;
        min-height: 850px;
      }
      .robot {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        z-index: 5000;
        max-width: 48%;
        text-align: center;
      }
      .robot img {
        max-width: 50%;
      }
      .banner::before,
      .banner::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        background: #00b3ff73;
        filter: blur(595px);
        z-index: 0;
      }
      .banner::after {
        left: unset;
        right: 0;
        background: #ff585878;
        filter: blur(870px);
      }
      .banner .circuit-art {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        filter: brightness(2);
      }
      .banner .circuit-art.red {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: unset;
        right: 0;
        text-align: right;
        filter: brightness(2);
      }
      .banner .machine-art {
        position: absolute;
        height: 100%;
        width: 50%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
      }
      .banner .machine-art-container {
        position: relative;
      }
      .banner .machine-art-container {
        transform-origin: center center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .banner .machine-art-container.active {
        animation: rotate 120s infinite linear alternate-reverse;
      }
      .banner .machine-art-container .machine-lights-container {
        position: absolute;
        top: 51%;
        left: 50.2%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
      .banner .machine-lights-container img {
        animation: rotate-reverse-shut 12s infinite ease-in;
      }
      .banner .machine-lights-container.active img {
        animation: rotate-reverse 20s infinite alternate-reverse;
        aspect-ratio: 1 / 1;
        width: 72%;
      }
      .banner .machine-rings {
        animation: rotate-reverse-shut 7s infinite ease-in;
      }
      .banner .machine-rings.active {
        animation: rotate-reverse 14s infinite alternate-reverse;
        aspect-ratio: 1 / 1;
        width: 72%;
      }
      @keyframes rotate {
        0%,
        100% {
          transform: rotate(0);
        }
        25% {
          transform: rotate(180deg);
        }
        50% {
          transform: rotate(150deg);
        }
        75% {
          transform: rotate(360deg);
        }
      }
      @keyframes rotate-reverse {
        0%,
        100% {
          transform: rotate(360deg);
          opacity: 0.5;
        }
        25% {
          transform: rotate(-180deg);
          opacity: 0.7;
        }
        50% {
          transform: rotate(-150deg);
          opacity: 0.2;
        }
        55% {
          opacity: 1;
        }
        57% {
          filter: brightness(100);
        }
        59% {
          opacity: 0.1;
          filter: brightness(2);
        }
        63% {
          opacity: 1;
          filter: brightness(80);
        }
        70% {
          opacity: 0.2;
          filter: brightness(15);
        }
        71% {
          opacity: 0.7;
          filter: brightness(90);
        }
        72% {
          opacity: 1;
          filter: brightness(5);
        }
        73% {
          opacity: 0.5;
          filter: brightness(73);
        }
        74% {
          opacity: 0.3;
          filter: brightness(1);
        }
        75% {
          opacity: 0.9;
          filter: brightness(0);
        }
        76% {
          opacity: 1;
          filter: brightness(3);
        }
        77% {
          opacity: 0.1;
          filter: brightness(18);
        }
        78% {
          opacity: 0.9;
          filter: brightness(57);
        }
        79% {
          opacity: 0.4;
          filter: brightness(4);
        }
        80% {
          opacity: 0.1;
          filter: brightness(98);
        }
        81% {
          opacity: 1;
          filter: brightness(6);
        }
        82% {
          opacity: 0.7;
          filter: brightness(47);
        }
        83% {
          opacity: 0.7;
          filter: brightness(0);
        }
        84% {
          opacity: 0.3;
          filter: brightness(100);
        }
        85% {
          transform: rotate(-360deg);
          opacity: 1;
          filter: brightness(5);
        }
      }
      @keyframes rotate-reverse-shut {
        0%,
        100% {
          transform: rotate(0deg);
          opacity: 0.5;
        }
        25% {
          transform: rotate(80deg);
          opacity: 0.7;
        }
        50% {
          transform: rotate(50deg);
          opacity: 0.2;
        }
        55% {
          opacity: 1;
        }
        57% {
          filter: brightness(100);
        }
        59% {
          opacity: 0.9;
          filter: brightness(2);
        }
        63% {
          opacity: 0.8;
          filter: brightness(80);
        }
        70% {
          opacity: 0.7;
          filter: brightness(15);
        }
        71% {
          opacity: 0.6;
          filter: brightness(90);
        }
        72% {
          opacity: 1;
          filter: brightness(5);
        }
        73% {
          opacity: 0.4;
          filter: brightness(73);
        }
      }
      
      .banner .banner-content {
        position: relative;
        z-index: 5;
        padding-top: 10rem;
      }
      .banner .banner-title h1 {
        font-size: 4rem;
        line-height: 4.75rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        background: linear-gradient(
          180deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 153.82%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      .banner-content .blue-content .p-lg {
        margin-bottom: 1rem;
      }
      .banner-content .row {
        margin-top: 6rem;
      }
      .blue-content p {
        color: #9b9b9b;
      }
      .blue-content a {
        margin-top: 2rem;
        padding: 0.75rem 2rem 0.75rem 1rem;
        border: 2px solid;
        border-image-source: linear-gradient(
          259.5deg,
          #ffffff -35.16%,
          rgba(255, 255, 255, 0) 153.09%
        );
        position: relative;
        border-image-slice: 1;
        transform: skewX(-36deg);
      }
      .blue-content a p {
        color: white;
        transform: skewX(36deg);
        position: relative;
        z-index: 1;
      }
      .blue-content a::before {
        content: "";
        position: absolute;
        left: 30%;
        bottom: -2px;
        height: 2px;
        width: 0.75rem;
        background-color: #0f2133;
      }
      .blue-content a.active img {
        animation: cd-rotate 2s infinite linear;
      }
      .blue-content a span:not(.arrow) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%) skewX(36deg);
        z-index: 2;
      }
      .blue-content a span::before {
        content: "";
        position: absolute;
      }
      .arrow {
        position: absolute;
        height: 5px;
        width: 5px;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%) skewX(15deg);
        border: 1px solid white;
        border-bottom: transparent;
        border-left: transparent;
      }
      .banner .row {
        justify-content: space-between;
      }
      .red-content {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
      .polygone-container {
        display: flex;
        gap: 2px;
      }
      .polygone {
        position: relative;
        width: 112px;
        aspect-ratio: 1 / 0.9;
      }
      .polygone::before {
        content: "";
        position: absolute;
        height: calc(100% + 2px);
        width: calc(100% + 2px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        background: rgb(0, 0, 0);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.3337710084033614) 17%,
          rgba(255, 88, 88, 1) 100%
        );
      }
      .polygone img {
        object-fit: cover;
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        position: absolute;
        width: 100%;
        object-position: center top;
      }
      .polygone-content {
        margin-left: -8px;
      }
      .polygone-content p {
        color: white;
        padding: 8px 0 0 24px;
      }
      .polygone-content .red-text {
        padding: 16px 0 8px 20px;
        border: 1px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(
          85.3deg,
          #ff5858 14.01%,
          rgba(255, 88, 88, 0) 96.93%
        );
        border-top: transparent;
        transform: skewX(29deg);
      }
      .polygone-content .red-text span {
        transform: skewX(-29deg);
      }
      .red-content .polygone-container:nth-child(2) {
        flex-direction: row-reverse;
      }
      .red-content .polygone-container:nth-child(2) .polygone-content .red-text,
      .red-content .polygone-container:nth-child(2) .polygone-content .red-text span {
        transform: skewX(-29deg) scaleX(-1);
      }
      .red-content .polygone-container:nth-child(2) .polygone-content p {
        padding: 8px 12px 0 14px;
      }
      .red-content .polygone-container:nth-child(2) .polygone-content .red-text {
        padding: 8px 0 8px 14px;
      }
      .red-content .polygone-container:nth-child(2) .polygone-content {
        margin-right: -8px;
      }
      .boon-bane-container {
        padding-inline: 40px;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        
      }
      .boon,
      .bane {
        position: relative;
      }
      /* .boon::before,.bane::before                                                     { content: ''; position: absolute; top: 50%; right: -20px; width: 120%; height: 180%; background: url('https://www.yudiz.com/codepen/artificial-intelligence/images/boon-border.png') no-repeat center top / contain; transform: translateY(-50%);} */
      /* .bane::before                                                                   { background-image: url('https://www.yudiz.com/codepen/artificial-intelligence/images/bane-border.png'); left: -18px; right: unset;} */
      /* .boon::before                                                                   { box-shadow: 35px -28px 52px -32px #247db2;} */
      /* .bane::before                                                                   { box-shadow: -8px -26px 36px -24px #bf4141;;} */
      .boon span,
      .bane span {
        font-size: inherit;
        font-weight: inherit;
      }
      .bane h1.active span {
        animation: flicker 3s alternate-reverse infinite;
      }
      .boon h1.active span {
        animation: flicker 6s linear infinite;
      }
      .boon h1 {
        color: #266eb2;
        font-weight: bolder;
        animation: shut-flickers-blue 2s linear;
        opacity: 0.4;
        transition-duration: 0.5s;
      }
      .bane h1,
      .menu a {
        color: rgb(209 73 74 / 55%);
        font-weight: bolder;
        animation: shut-flickers 2s linear;
        opacity: 0.4;
      }
      .boon h1.active {
        animation: flicker-full 8s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
        text-shadow: 0px 0px 20px #1778d2;
      }
      .menu a:hover {
        animation: flicker-full 6s alternate-reverse infinite;
        color: rgb(209 73 74 / 85%) !important;
        text-shadow: 1px 1px 20px #d61717;
      }
      .bane h1.active {
        animation: flicker-full 8s linear infinite;
        text-shadow: 0px 0px 20px #b91515;
      }

      .robot img {
        animation: hue 10s infinite alternate-reverse;
      }
      
      @media (min-width: 1399px) {
        .robot img {
          max-width: 500px;
        }
      }
      
      @keyframes flicker {
        0%,
        19.999%,
        22%,
        62.999%,
        64%,
        64.999%,
        70%,
        100% {
          opacity: 0.1;
        }
        20%,
        21.999%,
        63%,
        63.999%,
        65%,
        69.999% {
          opacity: 0.8;
        }
      }
      
      @keyframes hue {
        from {
          filter: hue-rotate(-360deg);
        }
        to {
          filter: hue-rotate(360deg);
        }
      }
      @keyframes flicker-full {
        0%,
        19.999%,
        22%,
        62.999%,
        64%,
        64.999%,
        70%,
        100% {
          opacity: 0.99;
        }
        20%,
        21.999%,
        63%,
        63.999%,
        65%,
        69.999% {
          opacity: 0.4;
        }
      }
      
      @keyframes shut-flickers {
        from {
          opacity: 1;
          text-shadow: 0px 0px 0px #b91515;
        }
        to {
          opacity: 0.4;
          text-shadow: 0px 0px 20px #b91515;
        }
      }
      @keyframes shut-flickers-blue {
        from {
          opacity: 1;
          text-shadow: 0px 0px 0px #1778d2;
        }
        to {
          opacity: 0.4;
          text-shadow: 0px 0px 20px #1778d2;
        }
      }
      
      @keyframes cd-rotate {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }
      

.featurette-divider{margin-top: 0;
  border: #19436d 20px solid;
}
.container-fluid h1{margin-top: -20px;}

.card {
  position: relative;
  width: 300px;
  height: 570px;
  border-radius: 15px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3% auto;
  padding: 20px 0px;
  min-width: 300px;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 290px;
  height: 560px;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}
.bg img{
  
  object-fit:scale-down;
  border-radius: 5px;
  top: 0%;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #3700ff;
  opacity: .9;
  filter: blur(12px);
  animation: blob-bounce 5s infinite linear , hue 10s infinite alternate-reverse;  
}

@keyframes blob-bounce {
  0% {
    transform: translate(-125%, -175%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-125%, -175%) translate3d(125%, 0, 0);
  }

  50% {
    transform: translate(-125%, -175%) translate3d(120%, 250%, 0);
  }

  75% {
    transform: translate(-125%, -175%) translate3d(0, 250%, 0);
  }

  100% {
    transform: translate(-125%, -175%) translate3d(0, 0, 0);
  }
}


.card-info {
padding-top: 0%;
}
svg {
width: 20px;
height: 20px;
}

.card-footer {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 10px;
border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
font-weight: 900;
font-size: 1.2em;
line-height: 1.5;
text-align: center;
margin: 0 auto;
}

.text-body {
font-size: .75em;
padding-bottom: 10px;
height: 60px;
}

/*Button*/
.card-button {
border: 2px solid #252525;
display: flex;
padding: .7em;
cursor: pointer;
border-radius: 50px;
transition: .3s ease-in-out;
margin: 5px auto;
}

/*Hover*/
.card-img:hover {
box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
border: 1px solid #ffcaa6;
background-color: #ffcaa6;
}
.input-group1, .input-group1 input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
}

.shopping-cart {border: 1px solid rgb(209, 73, 73);
  color: rgb(209, 73, 73);
margin: 20px auto;
border-radius: 9px;
width: 55%;
margin: 1% auto;
display: flex;
flex-wrap: nowrap;}


.name div{ margin-right: 2%;
justify-content: center;
margin-bottom: 1%;}

.name{display: flex;}

.name input, .contact-info input{width: 100%; border: 1px solid rgb(209, 73, 73);
  color: rgb(209, 73, 73);}


.general-info div div input{width:100%; border: 1px solid rgb(209, 73, 73);
  color: rgb(209, 73, 73)}

input[type="text"] {width: 100%; border: 1px solid rgb(209, 73, 73);
  color: rgb(209, 73, 73)}
.contact-info div{margin-top: 1%;}
.shop-btn button{padding: 10px; color: rgb(209, 73, 73); font-size: 20px; font-weight: bolder;
  border: 1px solid rgb(209, 73, 73); border-radius: 5px; width: 95%; margin: 1% auto; display: block;}

.shop-btn button:hover{animation: flicker-full 6s alternate-reverse infinite;
color: rgb(209 73 74 / 85%) !important;
text-shadow: 1px 1px 20px #d61717;}

.checkout{width: 100%;
margin-top: 1%;}
.Checkoutheading{margin-top: 4%;}
.resciptcard{border: 1px solid rgb(209, 73, 73);
  color: rgb(209, 73, 73);
  width: 55%;
  margin:  auto;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
  border-radius: 20px;
}

.resciptcard td{border: 1px solid rgb(209, 73, 73);
  color: rgb(209, 73, 73);
  padding: 1%;
  text-align: start;
  border-radius: 20px;
  width: auto; margin: 1%;}

.Buymore{padding: 10px; color: rgb(209, 73, 73); font-size: 20px; font-weight: bolder;
  border: 1px solid rgb(209, 73, 73); border-radius: 5px; width: auto; margin: 1% auto; display: block;}
.Buymore:hover{animation: flicker-full 6s alternate-reverse infinite;
color: rgb(209 73 74 / 85%) !important;
text-shadow: 1px 1px 20px #d61717;}